.fileter { 
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.filterCon {
    width: 1140px;   
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.filterCon_box {
    width: 300px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

.filterCon_box p {
    font-size: 14px;
    text-align: center;
}

.filterCon_box p:nth-child(2) {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    flex: 1;
}

.filterCon_box_dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.filterCon_box_dropdown label {
    font-size: 14px;
}

.filterCon_box a {
    /* background-color: #0078ff;
    border: none;
    color: white;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.filterCon_box button {
    width: 100%;
    background-color: #0078ff;
    border: none;
    color: white;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
}

.filterCon_box_info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 4px;
    padding: 5px 0;
    flex: 1;
}

.filterCon_box_info label {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.filterCon_box_info span {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
 .filterCon {
    width: 100%;    
    overflow-x: scroll;
    padding-left: 10px;
 }   
 .filterCon_box {
    min-width: 280px;
 }
}