nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navTop {
    width: 100%;
    background-color: #0078ff;
    padding: 10px 0;
}

.navTop_left {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.navTop_left span {
    font-size: 14px;
    font-weight: 400;
}

.navTop_left p {
    font-size: 14px;
}

.navTop_right {
    display: flex;
}

.navTop_right button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.493);
    background: transparent;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.navBottom {
    width: 100%;
    display: flex;
    background: white;
    padding: 15px 0;
}

.links {
    display: flex;
}

.links ul {
    display: flex;
    gap: 20px;
}

.links ul li {
    font-size: 13px;
    font-weight: 700;
    color: #333333;
    cursor: pointer;
}

.links ul li:hover {
    color: #0078ff;
}

.burgerNav {
    display: none;
}

@media screen and (max-width: 768px) {
    .max1440 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .navBottom {
        position: relative;
        align-items: center;
    }
    .links {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        transform: translateY(0);
        z-index: 2;
    }
    .links ul {
        width: 100%;
        background-color: white;
        flex-direction: column;
        padding: 20px;
    }   
    .navBottom_img img {
        width: 120px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .burgerNav {
        display: flex;
        font-size: 22px;
        margin-left: 5px;
    }
    .burgerClose {
        transform: translateY(-1000px);
    }
}